MQTT/Examples/mqtt_home.json
[{"id":"95bf16a4.7fdde","type":"tab","label":"MQTT_Flow","disabled":false,"info":""},{"id":"eb83c7f3.ef4ed8","type":"mqtt in","z":"95bf16a4.7fdde","name":"Machine 1","topic":"house/sensor/machine1","qos":"2","datatype":"json","broker":"9d09f79a.6d4b08","nl":false,"rap":true,"rh":0,"x":210,"y":320,"wires":[["bd7968f6.5d9a5","33380dcb.903942","e7ce6379.c29308","be5fafe4.f463c"]]},{"id":"bd7968f6.5d9a5","type":"function","z":"95bf16a4.7fdde","name":"Macine ID Extractor","func":"var machine_id=msg.payload.machine_id;\nreturn {payload:machine_id};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":180,"wires":[["fc2184d3.702f4"]]},{"id":"33380dcb.903942","type":"function","z":"95bf16a4.7fdde","name":"Temperature Extractor","func":"var temperature=msg.payload.temperature;\nreturn {payload:temperature};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":260,"wires":[["8d6249e2.019f18"]]},{"id":"e7ce6379.c29308","type":"function","z":"95bf16a4.7fdde","name":"Pressure Extractor","func":"var pressure=msg.payload.pressure\nreturn {payload:pressure};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":360,"wires":[["db5924ed.01b7e"]]},{"id":"be5fafe4.f463c","type":"function","z":"95bf16a4.7fdde","name":"Humidity  Extractor","func":"var humidity=msg.payload.humidity;\nreturn {payload:humidity};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":440,"wires":[["a74a064f.3a0d8"]]},{"id":"fc2184d3.702f4","type":"ui_text","z":"95bf16a4.7fdde","group":"95b52c88.05047","order":1,"width":0,"height":0,"name":"Machine ID","label":"Machine ID","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":180,"wires":[]},{"id":"8d6249e2.019f18","type":"ui_chart","z":"95bf16a4.7fdde","name":"Temperature Data","group":"95b52c88.05047","order":2,"width":0,"height":0,"label":"Temperature Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":260,"wires":[[]]},{"id":"db5924ed.01b7e","type":"ui_gauge","z":"95bf16a4.7fdde","name":"Pressure Data","group":"95b52c88.05047","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure Data","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":360,"wires":[]},{"id":"a74a064f.3a0d8","type":"ui_gauge","z":"95bf16a4.7fdde","name":"Humidity Data","group":"95b52c88.05047","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity Data","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":440,"wires":[]},{"id":"9d09f79a.6d4b08","type":"mqtt-broker","name":"Local MQTT Server","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"95b52c88.05047","type":"ui_group","name":"MQTT_Group","tab":"41791839.bd7a78","order":1,"disp":true,"width":"9","collapse":false},{"id":"41791839.bd7a78","type":"ui_tab","name":"MQTT_Home","icon":"dashboard","disabled":false,"hidden":false}]