OPCUA/Examples/opcua_nodered.json
[{"id":"5b1da23.4870f5c","type":"tab","label":"OPCUA_WR","disabled":false,"info":""},{"id":"ffd0d92c.088588","type":"OpcUa-Client","z":"5b1da23.4870f5c","endpoint":"98825e45.71277","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":360,"y":100,"wires":[["25e311cb.1dfe76"]]},{"id":"e92f144f.5faf38","type":"debug","z":"5b1da23.4870f5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"f91f2799.400e78","type":"inject","z":"5b1da23.4870f5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=2;datatype=Int","payload":"","payloadType":"date","x":190,"y":180,"wires":[["ffd0d92c.088588"]]},{"id":"5d6eae08.c246d","type":"debug","z":"5b1da23.4870f5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":360,"wires":[]},{"id":"ce12472a.51ef7","type":"inject","z":"5b1da23.4870f5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=3;datatype=Int","payload":"","payloadType":"date","x":190,"y":320,"wires":[["d77ac7c5.e3276"]]},{"id":"25e311cb.1dfe76","type":"function","z":"5b1da23.4870f5c","name":"extract array","func":"var a=msg.payload[1];\nreturn {payload: a};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":100,"wires":[["e92f144f.5faf38","f1e898d4.6d6128"]]},{"id":"f1e898d4.6d6128","type":"ui_gauge","z":"5b1da23.4870f5c","name":"","group":"a03f5e87.46e9b","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Farenheit","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":240,"wires":[]},{"id":"d77ac7c5.e3276","type":"OpcUa-Client","z":"5b1da23.4870f5c","endpoint":"98825e45.71277","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":360,"y":240,"wires":[["8c5a7918.d948e"]]},{"id":"8c5a7918.d948e","type":"change","z":"5b1da23.4870f5c","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":240,"wires":[["5d6eae08.c246d","2147f2ec.e468c6"]]},{"id":"a0e307ef.b642","type":"debug","z":"5b1da23.4870f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1100,"wires":[]},{"id":"5eae8d0d.c841ac","type":"inject","z":"5b1da23.4870f5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=2;datatype=Int","payload":"","payloadType":"date","x":220,"y":1060,"wires":[["c42053ac.f9c3f"]]},{"id":"c42053ac.f9c3f","type":"OpcUa-Client","z":"5b1da23.4870f5c","endpoint":"98825e45.71277","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":380,"y":980,"wires":[["a0e307ef.b642"]]},{"id":"b569058a.bbae58","type":"debug","z":"5b1da23.4870f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":940,"wires":[]},{"id":"cfcd6385.73f5f8","type":"inject","z":"5b1da23.4870f5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=2;datatype=Int","payload":"","payloadType":"date","x":200,"y":900,"wires":[["5344883f.64b0a8"]]},{"id":"5344883f.64b0a8","type":"OpcUa-Client","z":"5b1da23.4870f5c","endpoint":"98825e45.71277","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":360,"y":820,"wires":[["b921512e.288e8"]]},{"id":"b921512e.288e8","type":"change","z":"5b1da23.4870f5c","name":"covert to degreeC","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload[1]-32)*5.0/9.0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":820,"wires":[["b569058a.bbae58"]]},{"id":"2147f2ec.e468c6","type":"ui_gauge","z":"5b1da23.4870f5c","name":"","group":"a03f5e87.46e9b","order":6,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"Bar","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":440,"wires":[]},{"id":"93d95dcb.a6d2","type":"debug","z":"5b1da23.4870f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":580,"wires":[]},{"id":"4fa8b876.0f0c78","type":"inject","z":"5b1da23.4870f5c","name":"true","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=5;datatype=Boolean","payload":"true","payloadType":"bool","x":190,"y":540,"wires":[["f53e13a1.85cb48"]]},{"id":"f53e13a1.85cb48","type":"OpcUa-Client","z":"5b1da23.4870f5c","endpoint":"98825e45.71277","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":460,"y":540,"wires":[["93d95dcb.a6d2"]]},{"id":"6d7d436b.5c88f4","type":"inject","z":"5b1da23.4870f5c","name":"false","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=5;datatype=Boolean","payload":"false","payloadType":"bool","x":190,"y":600,"wires":[["f53e13a1.85cb48"]]},{"id":"edcdb862.468da","type":"ui_switch","z":"5b1da23.4870f5c","name":"State Switch","label":"State Switch","tooltip":"","group":"a03f5e87.46e9b","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ns=2;i=5;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":190,"y":660,"wires":[["f53e13a1.85cb48"]]},{"id":"98825e45.71277","type":"OpcUa-Endpoint","endpoint":"opc.tcp://127.0.0.1:4840","secpol":"None","secmode":"None","login":false},{"id":"a03f5e87.46e9b","type":"ui_group","name":"OPCUA_Group","tab":"2e55763b.ced052","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e55763b.ced052","type":"ui_tab","name":"OPCUA_Home","icon":"dashboard","disabled":false,"hidden":false}]